HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Logs
logs/
*.log

# Archivos de logs adicionales
*.log.*

# Archivos de sistema operativo
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# macOS
.DS_Store

# Archivos de configuración de entorno
.env
*.env

# Archivos de bases de datos temporales
*.h2.db
*.mv.db
*.sqlite

# Archivos de salida de pruebas
*.out
*.test
